
body {
    font-family: verdana, sans-serif, tahoma;
}
body div {
	padding: 1px;
}
#header {
	height: 5em;
	clear: both;
	text-align: center;
	background-color: #58D3F7;
    color: #0101DF;
}
#page-wrapper {
	width: 100%;
}
#menu {
	float: left;
	width: 10em;
}

#menu ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    background-color: #0101DF;
}
#menu a {
    display: block;
    padding: 3px 3px 3px 5px;
    width: auto;
    background-color: #0101DF;
    border-bottom: 1px solid #eee;
    color: #EEE;
}
#menu a:link, #menulist a:visited {
    color: #EEE;
    text-decoration: none;
}
#menu a:hover {
    background-color: #EEE;
    color: #0101DF;
}
#menu .active a {
    background-color: #58D3F7;
    color: #000000;
}

#page {
	margin-left: 10em;
	padding: 1em;
}

h3 {
	margin: 0.25em;
}


.table {
    display: table;
}
.table-header-group {
	display: table-header-group;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    padding: 0.25em;
}

form div.filter-textareas {
    padding: 1em;
    height: 400px;
}
form div.filter-textarea {
	width: 49%;
    height: 100%;
}
form div.filter-textarea textarea {
    width: 100%;
    height: 100%;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
input.long {
	width: 50em;
}

/**
 * buttons
 */
#page button, #page input[type=submit] {
	padding: 4px 10px;
    -moz-box-shadow: inset 0px 0px 0px 0px #bee2f9;
    -webkit-box-shadow: inset 0px 0px 0px 0px #bee2f9;
    box-shadow: inset 0px 0px 0px 0px #bee2f9;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
    background: -moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color: #63b8ee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-indent: 0px;
    border: 1px solid #3866a3;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #7cacde;
}
#page button:hover, #page input[type=submit]:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
    background: -moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
    background-color: #468ccf;
    cursor: pointer;
}
#page button:active, #page input[type=submit]:active {
    position: relative;
    top: 1px;
}

progress.torrent-progress {  
    background-color: #58D3F7;
    color: #0101DF;
}

.feed-status-current, .feed-active {
    color: #008000;
    font-weight: bold;
}
.feed-status-not-current, .feed-inactive {
    color: #FF0000;
    font-weight: bold;
}

