<div>
    <div *ngFor="let message of messages">
        <div class="message" [ngClass]="[message.type | lowercase]">
            <button mat-icon-button type="button" #clearButton (click)="deleteMessage(message.id, clearButton)">
                <mat-icon>clear</mat-icon>
            </button>
            <div>
                <strong>
                    <span *ngIf="message.type === 'ERROR'">Error!</span>
                    <span *ngIf="message.type === 'WARNING'">Warning!</span>
                    <span *ngIf="message.type === 'SUCCESS'">Success!</span>
                    <span *ngIf="message.type === 'INFO'">Info!</span>
                    {{message.dateCreated | date : 'short'}}
                </strong>
                <span *ngIf="message.feedProvider">
                    <strong>
                        [{{message.feedProvider.name}}<span *ngIf="message.torrent"> : {{message.torrent.torrentName}}</span>]:
                    </strong>
                </span>
                <span>{{message.message}}</span>
            </div>
        </div>
    </div>
</div>









<!--


								<div class="alert alert-danger">
									<a href="#" class="close" data-id="${message.id}" data-dismiss="alert" aria-label="close">&times;</a>
									<strong>Error! [<g:formatDate date="${message.dateCreated}" type="datetime" style="MEDIUM"/>]</strong>
									<g:if test="${message.feedProvider}">
										<strong>
											[${message.feedProvider.name}<g:if test="${message.torrent}"> : ${message.torrent.name}</g:if>]:
										</strong>
									</g:if>
									${message.message}
                                </div>
                                
	            
-->